order allow,deny
allow from all


# f2s migration: This sets the handler for .php files to be php4 (the default 
# is PHP5). If you want php4 to be the default for .php files, uncomment this
# line.
#
#AddHandler application/x-httpd-php .php
DirectoryIndex index.html index.htm home.html
AddHandler cgi-script .cgi
